{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <style>
        table {
            border-collapse: collapse;
            align: left;
        }


    </style>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body style="background-color:burlywood;">
     {% if message == "This username already exists." %}
        {{ message }}
     {% else %}
         <div class="row">
         <div id="map">
            <div style="float:left; display:inline; margin-right: 20px;">
            <table  cellspacing='0' cellpadding='0'>
            {% for i in map %}
                <tr>
                {% for j in i  %}
                    <td>

                    {% if j == 'r' %}
                        <img src='{% static '../../static/road.png' %}' alt='R'>
                    {% elif j == 'P' %}
                        <img src='{% static '../../static/pacmanr.png' %}' alt='P'>
                    {% elif j == 'G' %}
                        <img src='{% static '../../static/ghost.png' %}' alt='G'>
                    {% elif j == 'X' %}
                        <img src='{% static '../../static/wall.png' %}' alt='W'>
                    {% elif j == 'A' %}
                        <img src='{% static '../../static/apple.png' %}' alt='A'>
                    {% elif j == 'T' %}
                        <img src='{% static '../../static/potato.png' %}' alt='T'>
                    {% elif j == 'B' %}
                        <img src='{% static '../../static/banana.png' %}' alt='B'>

                    {% endif %}
                {% endfor %}
                </td>
                </tr>
            {% endfor %}
            </table>
            </div>
            <div style="float:left; display:inline;">
            <p>#############SCOREBOARD#############</p>
            <div class="table-responsive">
            <table class="table table-bordred table-striped">
                <thead>
                    <th>Name</th>
                    <th>Score</th>
                </thead>
                <tbody>
                <tr>
                {% for i in scoreboard %}
                    <tr>
                        <td>{{ i.0 }}</td>
                        <td>{{ i.1 }}</td>
                    </tr>
                {% endfor %}
                </tr>
                </tbody>
            </table>
            </div>
            </div>
         </div>
         </div>
         <script>

                way="r";
                function executeQuery() {
                  $.ajax({
                    url: '/game/',
                    success: function(response) {
                        if(response=="<b><center>Life hurts a lot more than death. Have a nice day.</center></b>"){
                            document.getElementById('map').innerHTML = response;
                        }
                        else{
                            response = JSON.parse(response);
                            map=response['map'];
                            score=response['scoreboard'];
                            document.getElementById('map').innerHTML = writer(map,score,way);
                        }
                    }
                  });
                  setTimeout(executeQuery, 3000);
                }
                setTimeout(executeQuery, 3000);
            //$(document).ready(function(){
                //isKeyPressed=false;
                function writer(map,score,w){
                    myhtml="";
                    myhtml+="<div style='float:left; display:inline; margin-right: 20px;'>";
                    myhtml+="<table style='cellspacing='0' width='10%' cellpadding='0'>";
                    for (var i = 0; i < 11; i++){
                        myhtml+="<tr>";
                        for (var j = 0; j < 11; j++){
                            myhtml+=("<td>");
                            if (map[i][j] == 'r'){
                                myhtml+=("<img src='{% static '../../static/road.png' %}' alt='R'>");
                                //mapp[i][j] = 'R';
                            }
                            else if(map[i][j]=='P'){
                                if (w=='l'){
                                    way='l';
                                    myhtml+=("<img src='{% static '../../static/pacmanl.png' %}' alt='P'>");
                                }
                                else if (w=='r'){
                                    way='r';
                                    myhtml+=("<img src='{% static '../../static/pacmanr.png' %}' alt='P'>");
                                }
                                else if (w=='u'){
                                    way='u';
                                    myhtml+=("<img src='{% static '../../static/pacmanu.png' %}' alt='P'>");
                                }
                                else if (w=='d'){
                                    way='d';
                                    myhtml+=("<img src='{% static '../../static/pacmand.png' %}' alt='P'>");
                                }


                            }
                            else if(map[i][j]=='G'){
                                myhtml+=("<img src='{% static '../../static/ghost.png' %}' alt='G'>");
                            }
                            else if(map[i][j]=='X' || map[i][j]=='Q' ){
                                myhtml+=("<img src='{% static '../../static/wall.png' %}' alt='W'>");
                            }
                            else if(map[i][j]=='A'){
                                myhtml+=("<img src='{% static '../../static/apple.png' %}' alt='A'>");
                            }
                            else if(map[i][j]=='T'){
                                myhtml+=("<img src='{% static '../../static/potato.png' %}' alt='T'>");
                            }
                            else if(map[i][j]=='B'){
                                myhtml+=("<img src='{% static '../../static/banana.png' %}' alt='B'>");
                            }

                        }
                        //document.write("<br>");
                        myhtml+=("</td>");
                        myhtml+=("</tr>");
                    }
                    myhtml+=("</table>");
                    myhtml+=("</div>");
                    //myhtml+=("<br>");
                    myhtml+=("<div style='float:left; display:inline;'>");
                    myhtml+="<p>#############SCOREBOARD#############</p>";
                    myhtml+="<div class='table-responsive'>";
                    myhtml+="<table class='table table-bordred table-striped'>";
                    myhtml+="<thead>";
                    myhtml+="<tbody>";

                    myhtml+=("<tr>");
                    for(var i = 0; i<score[0].length;i++ ){
                        myhtml+="<tr>";
                        myhtml+="<td>"+score[0][i]+"</td>";
                        myhtml+="<td>"+score[1][i]+"</td>";
                        myhtml+="</tr>";
                    }
                    myhtml+=("</tr>");
                    myhtml+=("</table>");
                    myhtml+="</div>";
                    myhtml+="</div>";
                    return myhtml;
                }
                document.onkeydown = checkKey;
                function checkKey(e) {
                    e.preventDefault();
                    //isKeyPressed=true;
                    console.log('key pressed');
                    e = e || window.event;

                    if (e.keyCode == '38') {
                        // up arrow
                        //alert('up');
                        $.ajax({
                            url: '/game/?dir=u',
                            type: 'GET',
                            success: function (response) {
                            if(response=="<b><center>Life hurts a lot more than death. Have a nice day.</center></b>"){
                                document.getElementById('map').innerHTML = response;
                            }
                            else{
                                response = JSON.parse(response);
                                map=response['map'];
                                score=response['scoreboard'];
                                document.getElementById('map').innerHTML = writer(map,score,'u');
                            }
                            }
                        });
                    }
                    else if (e.keyCode == '40') {
                        // down arrow
                        $.ajax({
                            url: '/game/?dir=d',
                            type: 'GET',
                            success: function (response) {
                                if(response=="<b><center>Life hurts a lot more than death. Have a nice day.</center></b>"){
                                document.getElementById('map').innerHTML = response;
                            }
                            else{
                                response = JSON.parse(response);
                                map=response['map'];
                                score=response['scoreboard'];
                                document.getElementById('map').innerHTML = writer(map,score,'d');
                            }
                            }
                        });
                    }
                    else if (e.keyCode == '37') {
                       // left arrow
                        $.ajax({
                            url: '/game/?dir=l',
                            type: 'GET',
                            success: function (response) {
                                if(response=="<b><center>Life hurts a lot more than death. Have a nice day.</center></b>"){
                                document.getElementById('map').innerHTML = response;
                            }
                            else{
                                response = JSON.parse(response);
                                map=response['map'];
                                score=response['scoreboard'];
                                document.getElementById('map').innerHTML = writer(map,score,'l');
                            }
                            }
                        });
                    }
                    else if (e.keyCode == '39') {
                       // right arrow
                        $.ajax({
                            url: '/game/?dir=r',
                            type: 'GET',
                            success: function (response) {
                                if(response=="<b><center>Life hurts a lot more than death. Have a nice day.</center></b>"){
                                document.getElementById('map').innerHTML = response;
                            }
                            else{
                                response = JSON.parse(response);
                                map=response['map'];
                                score=response['scoreboard'];
                                document.getElementById('map').innerHTML = writer(map,score,'r');
                            }
                            }
                        });
                    }

                }

            //});
        </script>
         <div style="margin:5px; display:block; width: 525px;">

        <form action="/quit/" method="GET">

             <button type="submit" style="background-color: orange;color: #000;"   class="btn btn-block btn-success">Quit</button>
        </form>
         </div>
    {% endif %}
</body>
</html>