{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <style>
        img {margin:0;padding:0; display:block;}
    </style>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
     {% if message == "This username already exists." %}
        {{ message }}
     {% else %}
         <div id="map">
            <table style='width:10%' align='center' cellspacing='0' cellpadding='0'>
            {% for i in map %}
                <tr>
                {% for j in i  %}
                    <td>

                    {% if j == 'r' %}
                        <img src='{% static '../../static/road.png' %}' alt='R'>
                    {% elif j == 'P' %}
                        <img src='{% static '../../static/pacmanr.png' %}' alt='P'>
                    {% elif j == 'G' %}
                        <img src='{% static '../../static/ghost.png' %}' alt='G'>
                    {% elif j == 'X' %}
                        <img src='{% static '../../static/wall.png' %}' alt='W'>
                    {% elif j == 'A' %}
                        <img src='{% static '../../static/apple.png' %}' alt='A'>
                    {% elif j == 'T' %}
                        <img src='{% static '../../static/potato.png' %}' alt='T'>
                    {% elif j == 'B' %}
                        <img src='{% static '../../static/banana.png' %}' alt='B'>

                    {% endif %}
                {% endfor %}
                </td>
                </tr>
            {% endfor %}
            </table>
            <p>#############SCOREBOARD#############</p>
            <table border="1" frame="void" rules="rows" style='width:20%'>
                <tr>
                {% for i in scoreboard %}
                    <tr>
                        <td>{{ i.0 }}</td>
                        <td>{{ i.1 }}</td>
                    </tr>
                {% endfor %}
                </tr>
            </table>

         </div>
         <script>
                function executeQuery() {
                  $.ajax({
                    url: '/game/',
                    success: function(response) {
                        response = JSON.parse(response);
                        map=response['map'];
                        score=response['scoreboard'];
                        document.getElementById('map').innerHTML = writer(map,score);
                    }
                  });
                  setTimeout(executeQuery, 3000);
                }
                setTimeout(executeQuery, 3000);
            //$(document).ready(function(){
                //isKeyPressed=false;
                function writer(map,score){
                    myhtml="";
                    myhtml+="<table style='width=10%' align='center' cellspacing='0' cellpadding='0'>";
                    for (var i = 0; i < 11; i++){
                        myhtml+="<tr>";
                        for (var j = 0; j < 11; j++){
                            myhtml+=("<td>");
                            if (map[i][j] == 'r'){
                                myhtml+=("<img src='{% static '../../static/road.png' %}' alt='R'>");
                                //mapp[i][j] = 'R';
                            }
                            else if(map[i][j]=='P'){
                                myhtml+=("<img src='{% static '../../static/pacmanr.png' %}' alt='P'>");
                            }
                            else if(map[i][j]=='G'){
                                myhtml+=("<img src='{% static '../../static/ghost.png' %}' alt='G'>");
                            }
                            else if(map[i][j]=='X'){
                                myhtml+=("<img src='{% static '../../static/wall.png' %}' alt='W'>");
                            }
                            else if(map[i][j]=='A'){
                                myhtml+=("<img src='{% static '../../static/apple.png' %}' alt='A'>");
                            }
                            else if(map[i][j]=='T'){
                                myhtml+=("<img src='{% static '../../static/potato.png' %}' alt='T'>");
                            }
                            else if(map[i][j]=='B'){
                                myhtml+=("<img src='{% static '../../static/banana.png' %}' alt='B'>");
                            }

                        }
                        //document.write("<br>");
                        myhtml+=("</td>");
                        myhtml+=("</tr>");
                    }
                    myhtml+=("</table>");
                    myhtml+=("<br>");

                    myhtml+="<p>#############SCOREBOARD#############</p>";

                    myhtml+=("<table border="+1+" frame='void' rules='rows' style='width:20%'>");
                    myhtml+=("<tr>");
                    for(var i = 0; i<score[0].length;i++ ){
                        myhtml+="<tr>";
                        myhtml+="<td>"+score[0][i]+"</td>";
                        myhtml+="<td>"+score[1][i]+"</td>";
                        myhtml+="</tr>";
                    }
                    myhtml+=("</tr>");
                    myhtml+=("</table>");
                    return myhtml;
                }
                document.onkeydown = checkKey;
                function checkKey(e) {
                    //isKeyPressed=true;
                    console.log('key pressed');
                    e = e || window.event;

                    if (e.keyCode == '38') {
                        // up arrow
                        //alert('up');
                        $.ajax({
                            url: '/game/?dir=u',
                            type: 'GET',
                            success: function (response) {
                                response = JSON.parse(response);
                                map=response['map'];
                                score=response['scoreboard'];
                                document.getElementById('map').innerHTML = writer(map,score);
                            }
                        });
                    }
                    else if (e.keyCode == '40') {
                        // down arrow
                        $.ajax({
                            url: '/game/?dir=d',
                            type: 'GET',
                            success: function (response) {
                                response = JSON.parse(response);
                                map=response['map'];
                                score=response['scoreboard'];
                                document.getElementById('map').innerHTML = writer(map,score);
                            }
                        });
                    }
                    else if (e.keyCode == '37') {
                       // left arrow
                        $.ajax({
                            url: '/game/?dir=l',
                            type: 'GET',
                            success: function (response) {
                                response = JSON.parse(response);
                                map=response['map'];
                                score=response['scoreboard'];
                                document.getElementById('map').innerHTML = writer(map,score);
                            }
                        });
                    }
                    else if (e.keyCode == '39') {
                       // right arrow
                        $.ajax({
                            url: '/game/?dir=r',
                            type: 'GET',
                            success: function (response) {
                                response = JSON.parse(response);
                                map=response['map'];
                                score=response['scoreboard'];
                                document.getElementById('map').innerHTML = writer(map,score);
                            }
                        });
                    }

                }

            //});
        </script>
        <form action="/quit/" method="GET">

            <input type="submit" value="Quit">
        </form>
    {% endif %}
</body>
</html>