{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
            <style>
        h1 {
            font-family: "Arial" ;
        }
        body {
            display: inline-block;
            margin: 0px auto;
            text-align: center;
            background-image:url('../../static/sign.png');
            background-size: 100%;
            background-repeat: no-repeat;
        }
        html {
            text-align: center;
        }

    </style>
     <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div style="float:left;margin:5px; display:inline;">
<form action="/game/" method="POST">
    {% csrf_token %}
    {{ form }}


    <button type="submit" style="background-color: orange;width: 70px;color: #000;"   class="btn btn-success">Play</button>

</form>
 </div>
</body>
</html>